<div class="container-fluid main-content">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Vaši predmeti</h1>

      <div class="row placeholders">
        <div *ngFor='let kurs of kursevi; let i = index' class="col-xs-6 col-sm-4 placeholder">
          <h4 (click)="selectCourse(i)" class="clickable">{{kurs.naziv}}</h4>
          <span class="text-muted">{{kurs.opis}}</span>
        </div>
      </div>

      <div *ngIf="kurs">
        <h2 class="sub-header">{{kurs.naziv}}</h2>

        <!--<select class="form-control" id="vrstaIspitaSelect1" [(ngModel)]="predmet.odsjek" name="odsjekSelect">
          <option *ngFor="let odsjek of odsjeci" [value]="odsjek.id">{{odsjek.name}}</option>
        </select>-->

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Bodovi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of studenti">
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
