<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div style="margin-left: 50px; margin-top:100px;">
		Predmet: {{ predmet }}
		<br><br>
		<div *ngIf='ocjena.length>0'>
			Ocjena: {{ ocjena[0].ocjena }}
			<br><br>
		</div>
		Ispiti:
		<table>
			<thead>
				<tr>
					<th>Vrijeme održavanja</th>
					<th>Tip ispita</th>
					<th>Ukupni bodovi</th>
					<th>Ostvareni bodovi</th>
					<th>Polozeno</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let ispit of ispiti'>
					<td>{{ ispit.vrijemeOdrzavanja | date:'dd-MMM-yyyy'}}</td>
					<td>{{ ispit.opisIspita }} - {{ ispit.tipIspita }}</td>
					<td>{{ ispit.bodovi }}</td>
					<td>{{ ispit.rezultat }}</td>
					<td>{{ ispit.polozen }}</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		Prijavljeni ispiti:
		<table>
			<thead>
				<tr>
					<th>Vrijeme održavanja</th>
					<th>Sala</th>
					<th>Tip ispita</th>
					<th>Prijava</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let prijava of prijave'>
					<td>{{ prijava.vrijemeOdrzavanja | date:'dd-MMM-yyyy'}}</td>
					<td>{{ prijava.sala }}</td>
					<td>{{ prijava.opisIspita }} - {{ prijava.tipIspita }}</td>
					<td *ngIf='prijava.aktuelnost==1'>Termin je otvoren</td>
					<td *ngIf='prijava.aktuelnost==0'>Rok za prijavu je prosao</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		Ispitni rokovi:
		<table>
			<thead>
				<tr>
					<th>Vrijeme održavanja</th>
					<th>Sala</th>
					<th>Tip ispita</th>
					<th>Rok za prijave</th>
					<th>Prijava</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let rok of rokovi'>
					<td>{{ rok.vrijemeOdrzavanja  | date:'dd-MMM-yyyy'}}</td>
					<td>{{ rok.sala }}</td>
					<td>{{ rok.opisIspita }} - {{ rok.tipIspita }}</td>
					<td>{{ rok.rokZaPrijave  | date:'dd-MMM-yyyy'}}</td>
					<td *ngIf='rok.aktuelnost==1 && rok.prijavljen==0'>Termin je otvoren</td>
					<td *ngIf='rok.aktuelnost==1 && rok.prijavljen==1'>Prijavljeni ste na ovaj termin</td>
					<td *ngIf='rok.aktuelnost==0'>Rok za prijavu je prosao</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
