<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header" style="margin-top: 100px">Opći pregled</h1>
  <div style="width: 200px; margin-left: 200px; margin-top:100px; display: inline-block;">
    <canvas id="godine-pc" width="400" height="400"></canvas>
  </div>
  <div style="width: 200px; margin-left: 200px; margin-top:100px; display: inline-block;">
    <canvas id="godine-dc" width="400" height="400"></canvas>
  </div>
  <div style="width: 200px; margin-left: 200px; margin-top:100px;">
    <canvas id="godine-lc" width="800" height="400"></canvas>
  </div>
</div>
