<div class="container-fluid main-content" >
  <div style="width: 200px; margin-left: 200px; margin-top:100px; display: inline-block;">
    <canvas id="godine-pc" width="400" height="400"></canvas>
  </div>
  <div style="width: 200px; margin-left: 200px; margin-top:100px; display: inline-block;">
    <canvas id="godine-dc" width="400" height="400"></canvas>
  </div>
  <div style="width: 200px; margin-left: 200px; margin-top:100px;">
    <canvas id="godine-lc" width="800" height="400"></canvas>
  </div>
</div>
