<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main container">
  <h1 class="page-header" style="margin-top: 100px">Opći pregled</h1>
  <div class="row" style="margin-left: 30px;">
    <h2>Struktura studenata po godinama</h2>
    <div class="col-sm-6">
      <h3>Prvi ciklus</h3>
    
        <div class="form-group">
            <label class="radio-inline"><input (change)="drawStudentiPoGodinama()" type="radio" name="chart1Tip" [(ngModel)]="chart1Tip" value="bar">Bar</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinama()" type="radio" name="chart1Tip" [(ngModel)]="chart1Tip" value="horizontalBar">Horizontal Bar</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinama()" type="radio" name="chart1Tip" [(ngModel)]="chart1Tip" value="line">Line</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinama()" type="radio" name="chart1Tip" [(ngModel)]="chart1Tip" value="polarArea">Polar</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinama()" type="radio" name="chart1Tip" [(ngModel)]="chart1Tip" value="pie">Pie</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinama()" type="radio" name="chart1Tip" [(ngModel)]="chart1Tip" value="doughnut">Doughnut</label>
          </div>
      
      
    </div>
    <div class="col-sm-6">
        <h3>Drugi ciklus</h3>          
        <div class="form-group">
            <label class="radio-inline"><input (change)="drawStudentiPoGodinamaDc()" type="radio" name="chart2Tip" [(ngModel)]="chart2Tip" value="bar">Bar</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinamaDc()" type="radio" name="chart2Tip" [(ngModel)]="chart2Tip" value="horizontalBar">Horizontal Bar</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinamaDc()" type="radio" name="chart2Tip" [(ngModel)]="chart2Tip" value="line">Line</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinamaDc()" type="radio" name="chart2Tip" [(ngModel)]="chart2Tip" value="polarArea">Polar</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinamaDc()" type="radio" name="chart2Tip" [(ngModel)]="chart2Tip" value="pie">Pie</label>
            <label class="radio-inline"><input (change)="drawStudentiPoGodinamaDc()" type="radio" name="chart2Tip" [(ngModel)]="chart2Tip" value="doughnut">Doughnut</label>
          </div>         
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6">
  <div style="width: 200px; margin-left: 90px;">
    <canvas id="godine-pc" width="400" height="400"></canvas>
  </div>
</div>

  <div class="col-sm-6">
  <div style="width: 200px;">
    <canvas id="godine-dc" width="400" height="400"></canvas>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="margin-left: 30px;">
    <h3>Odsjeci</h3>
    <div style="width: 200px; margin-left: 50px; margin-top:100px;">
        <canvas id="godine-lc" width="800" height="400"></canvas>
      </div>        
  </div>
</div>
</div>
